<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <br>
    <div class="col-md-8">
      <div class="two">
        <h1>TE MOSTRAMOS NUESTO TRABAJO
          <span>nuestro trabajo es garantizado 100%. trabajamos con materiales de calidad y con otros materiales de
            acuerdo al gusto del cliente .</span>
        </h1>
      </div>
    </div>
  </div>

</div>
<div class="contenedor">
  <div class="contenedor-cards">

    <div class="contenedor-card-item">
      <div class="contenedor-card-item-wrapper">
        <img src="../../../assets/img/vitrialvid/cortinas de baño/cortina-baños7 (1).png" alt="">
        <div class="contenedor-info">
          <div class="info">
            <p class="titulo">Cortinas Baño</p>
            <span class="categoria">Aluminio y Vidrio</span>
          </div>
          <div class="fondo"></div>
        </div>
      </div>
    </div>
    <div class="contenedor-card-item">
      <div class="contenedor-card-item-wrapper">
        <img src="../../../assets/img/vitrialvid/puertas/puerta7.jpg" alt="">
        <div class="contenedor-info">
          <div class="info">
            <p class="titulo">Puertas</p>
            <span class="categoria">Aluminio y Vidrio</span>
          </div>
          <div class="fondo"></div>
        </div>
      </div>
    </div>

    <div class="contenedor-card-item">
      <div class="contenedor-card-item-wrapper">
        <img src="../../../assets/img/vitrialvid/vidrios y espejos/espejo1.jpg" alt="">
        <div class="contenedor-info">
          <div class="info">
            <p class="titulo">Diseños</p>
            <span class="categoria">Espejos y Vidrios</span>
          </div>
          <div class="fondo"></div>
        </div>
      </div>
    </div>
    <div class="contenedor-card-item">
      <div class="contenedor-card-item-wrapper">
        <img src="../../../assets/img/vitrialvid/vitrinas/vitrina 3.jpg" alt="">
        <div class="contenedor-info">
          <div class="info">
            <p class="titulo">Vitrinas</p>
            <span class="categoria">Vidrio y Aluminio</span>
          </div>
          <div class="fondo"></div>
        </div>
      </div>
    </div>
    <div class="contenedor-card-item">
      <div class="contenedor-card-item-wrapper">
        <img src="../../../assets/img/vitrialvid/closets/close1.jpg">
        <div class="contenedor-info">
          <div class="info">
            <p class="titulo">Closets</p>
            <span class="categoria">Aluminio</span>
          </div>
          <div class="fondo"></div>
        </div>
      </div>
    </div>
    <div class="contenedor-card-item">
      <div class="contenedor-card-item-wrapper">
        <img src="../../../assets/img/vitrialvid/ventanas/ventana 6.jpg" alt="">
        <div class="contenedor-info">
          <div class="info">
            <p class="titulo">Ventanas</p>
            <span class="categoria">Aluminio y Vidrio</span>
          </div>
          <div class="fondo"></div>
        </div>
      </div>
    </div>
  </div>

<br>
</div>