<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Te mostramos nuestro trabajos</h1>
      <p>nuestro trabjo es garantizado 100% y trabajamos en todos los materiales .</p>
      <div class="row">
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/logo_vitrialvid.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
        <div class="col-sm-6">
            <div class="card" style="width: 18rem;">
                <img src="../../assets/img/logo_vitrialvid.png" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Card title</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
              </div>
        </div>
      </div>
    </div>
    
</div>
<div class="contenedor">
    <div class="contenedor-cards">            
      <div class="contenedor-card-item">
            <div class="contenedor-card-item-wrapper">
              <img src="https://images.unsplash.com/photo-1448932223592-d1fc686e76ea" alt="">
              <div class="contenedor-info">
                    <div class="info">
                      <p class="titulo">Titulo</p>
                      <span class="categoria">Categoría</span>
                    </div>
                    <div class="fondo"></div>
              </div>
            </div>
      </div>
      <div class="contenedor-card-item">
            <div class="contenedor-card-item-wrapper">
              <img src="https://images.unsplash.com/photo-1473186505569-9c61870c11f9" alt="">
              <div class="contenedor-info">
                    <div class="info">
                      <p class="titulo">Titulo</p>
                      <span class="categoria">Categoría</span>
                    </div>
                    <div class="fondo"></div>
              </div>
            </div>
      </div>
      <div class="contenedor-card-item">
            <div class="contenedor-card-item-wrapper">
              <img src="https://images.unsplash.com/photo-1456324504439-367cee3b3c32" alt="">
              <div class="contenedor-info">
                    <div class="info">
                      <p class="titulo">Titulo</p>
                      <span class="categoria">Categoría</span>
                    </div>
                    <div class="fondo"></div>
              </div>
            </div>
      </div>
      <div class="contenedor-card-item">
            <div class="contenedor-card-item-wrapper">
              <img src="https://images.unsplash.com/photo-1440335680360-79703e7032f9" alt="">
              <div class="contenedor-info">
                    <div class="info">
                      <p class="titulo">Titulo</p>
                      <span class="categoria">Categoría</span>
                    </div>
                    <div class="fondo"></div>
              </div>
            </div>
      </div>
      <div class="contenedor-card-item">
            <div class="contenedor-card-item-wrapper">
              <img src="https://images.unsplash.com/photo-1455461491901-a0990c10d84c" alt="">
              <div class="contenedor-info">
                    <div class="info">
                      <p class="titulo">Titulo</p>
                      <span class="categoria">Categoría</span>
                    </div>
                    <div class="fondo"></div>
              </div>
            </div>
      </div>
      <div class="contenedor-card-item">
            <div class="contenedor-card-item-wrapper">
              <img src="https://images.unsplash.com/photo-1454997423871-b5215756e54d" alt="">
              <div class="contenedor-info">
                    <div class="info">
                      <p class="titulo">Titulo</p>
                      <span class="categoria">Categoría</span>
                    </div>
                    <div class="fondo"></div>
              </div>
            </div>
      </div>
     </div>
</div>