<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="col-md-8">
        <div class="two">
          <br>
          <div>
          
            <h1>Empresa Formada desde el 2000
              <hr>
              <span>Empresa que se enfoca en la fabricacion de ventanas en aluminio y vidrio, tambien brindando servicio de mantenimiento a sus clientes.</span>
            </h1>
          </div>
  
        </div>
      </div>
      <br>
      <div class="card mb-3">
        <img src="../../../assets/img/oficina.jpg"  class="card-img-top" alt="...">
        <!-- <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
        </div> -->
      </div>
    </div>
    <br>
</div>