nav{
    background-color: #ffc107;

}
  li {
    float: left;
    color: whitesmoke;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #ecce75bb;
  }

  .active {
    background-color: #ffc107;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #000000c4;
}