nav{
    background-color: #6f6bb7  ;
    
}
  li {
    float: left;
    color: whitesmoke;
  }

  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  li a:hover {
    background-color: #6f6bb7;
  }

  .active {
    background-color: #6f6bb7;
  }
  .navbar-light .navbar-nav .nav-link {
    color: #ffffff;
}
