<nav class="navbar navbar-fixed-top navbar-expand-sm  navbar-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="../../assets/img/logo_oficial.png" alt="logo_vitrialvid" style="max-width: 200px;max-height: 50px;" class="d-inline-block align-text-top">
        </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav navbar-nav me-auto mb-2 mb-lg-0" routerLinkActive="active">
          <li class="nav-item"><a class="nav-link" routerLink="Inicio"><i class="fa fa-flag-o"></i> Inicio</a></li>
          <li class="nav-item "><a class="nav-link" routerLink="Trabajos"><i class="fa fa-area-chart"></i> Trabajos</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="Acerca"><i class="fa fa-external-link"></i> Acerca de</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="Contacto"><i class="fa fa-address-book-o"></i> Contactame</a></li> 
        </ul>
        
      </div>
    </div>
  </nav>