<!-- Site footer -->
<footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h6>Acerca de</h6>
          <p class="text-justify">Vitrialvid __
            <i>Estamos Ubicados al sur de la ciudad de Quito Direccion: Av. El Tránsito y calle Carlos Freile "Sector EL Giron de Chillogallo" una cuadra antes de la iglesia del Giron.</i> Trabajamos de Lunes a Viernes de 7:00 AM - 18:30 PM y Los dias Sábados de 8:00 AM - 14:00PM.</p>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Fabricadores</h6>
          <ul class="footer-links">
            <li><a href="https://cedal.com.ec/">Cedal</a></li>
            <li><a href="https://www.fisa.com.ec/">Fisa</a></li>
            
          </ul>
        </div>

        <div class="col-xs-6 col-md-3">
          <h6>Enlaces Rápidos</h6>
          <ul class="footer-links">
            <li><a routerLink="Inicio">Inicio</a></li>
            <li><a routerLink="Trabajos">Trabajos</a></li>
            <li><a  routerLink="Acerca">Acerca de</a></li>
            <li><a  routerLink="Contacto">Contactos</a></li>
          </ul>
        </div>
      </div>
      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Copyright Vitrialvid &copy; 2022 Todos los derechos reservados 
            
          </p>
          <p class="copyright-text">Sitio Desarrollado por 
            <a href="https://api.whatsapp.com/send?phone=593982934710">DEVELOPKM</a>.
            
            </p>
          

        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><a class="facebook" href="https://www.facebook.com/VITRIALVID/"><i class="fa fa-facebook"></i></a></li>
            <li><a class="twitter" href="https://twitter.com/?lang=es"><i class="fa fa-twitter"></i></a></li>
            <li><a class="dribbble" href="https://dribbble.com/"><i class="fa fa-dribbble"></i></a></li>
            <li><a class="linkedin" href="https://ec.linkedin.com/"><i class="fa fa-linkedin"></i></a></li>   
          </ul>
        </div>
      </div>
    </div>
</footer>