<div class="jumbotron jumbotron-fluid">
  <div id="carouselExampleDark" class="carousel carousel-dark slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
        aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="4" aria-label="Slide 4"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="5" aria-label="Slide 5"></button>
      <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="6" aria-label="Slide 6"></button>


    </div>
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="10000">
        <img src="../../../assets/img/vitrialvid/closets/close2.jpg" width="400px" height="400px" class="d-block w-100"
          alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>El aluminio echo arte.</h2>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../../../assets/img/vitrialvid/cuarto alumin/cuartoaluminio2.jpg" width="400px" height="400px"
          class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>El aluminio echo arte.</h2>
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="3000">
        <img src="../../../assets/img/vitrialvid/ventanas/ventana1.jpg" class="d-block w-100" width="400px"
          height="400px" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>El aluminio echo arte.</h2>

        </div>
      </div>
      <div class="carousel-item" data-bs-interval="4000">
        <img src="../../../assets/img/vitrialvid/ventanas/ventana 3.jpg" class="d-block w-100" width="400px"
          height="400px" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h2>El aluminio echo arte.</h2>

        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<div class="container">
  <hr>
  <div class="row">
    <div class="col-md-4">
      <div class="cards-list">

        <div class="card 1">
          <div class="card_image"> <img src="../../../assets/img/vitrialvid/ventanas/ventana 2.jpg" /> </div>
          <div class="card_title title-black">
            <p>Card Title</p>
          </div>
        </div>
      </div>

    </div>
    <div class="col-md-8">
      <div class="two">
        <div>
        
          <h1>QUIÉNES SOMOS?
            <span>ELABORAMOS ,COMERCIALIZAMOS Y DISTRIBUIMOS PRODUCTOS ELABORADOS EN VIDRIO, ESPEJO Y ALUMINIO PARA LA
              DECORACIÓN: CORTINAS DE BAÑO Y PASAMANOS CON VIDRIO TEMPLADO Y ACERO INOXIDABLE, VENTANAS, PUERTAS,
              DIVISIONES DE OFICINAS, MAMPARAS EN ALUMINIO, VIDRIO Y PUNTO FIJO, ESPEJOS DECORATIVOS, PLACAS DE
              RECONOCIMIENTO, CONSOLAS, VITRINAS, ACUARIOS, MESAS, GABINETES Y MUCHO MÁS, ACOPLANDONOS A LAS NECESIDADES
              DEL CLIENTE.</span>
          </h1>
        </div>

      </div>
    </div>
<hr>

    <div class="col-md-8">
      <div class="two">
        <h1>NUESTRA TRAYECTORIA
          <span> Nuestra trayectoria se extiende a más de 35 años en el mercado Quiteño y nivel nacional, el
            conocimiento en el sector, nuestra calidad, para brindar un tabajo de calidad y que se acoplen a las
            necesidades de lo clientes, satisfaciendo sus espectativas. </span>
        </h1>
      </div>
    </div>
    <div class="col-md-4">
      <div class="cards-list">
        <div class="card 1">
          <div class="card_image">
            <img src="../../../assets/img/img (6).jpg">
          </div>
          <div class="card_title title-black">
            <p>

            </p>
          </div>
        </div>
      </div>
    </div>
<hr>
    <div class="col-md-4"><div class="cards-list"><div class="card 1"><div class="card_image"><img src="../../../assets/img/img (3).jpg"></div><div class="card_title title-black"><p></p></div></div></div></div>
    <div class="col-md-8"><div class="two"><h1>TE OFRECEMOS <span> Nosotros te ofrecemos un producto 100% de calidad y de garantia con un acabado profesional, a su vez damos servicio de mantenimientos en productos realizado en vidrio y aluminio fuera de la ciudad y dentro de la ciudad. </span></h1></div></div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/logo_vitrialvid.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card" style="width: 18rem;">
        <img src="../../assets/img/logo_vitrialvid.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>