/* === BASE HEADING === */ 
h2{
    color: azure;
  }
  h1 {
    position: relative;
    padding: 0;
    margin: 0;
    font-family: "Raleway", sans-serif;
    font-weight: 300;
    font-size: 40px;
    color: #faf8f8;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
  }
  
  h1 span {
    display: block;
    font-size: 0.5em;
    line-height: 1.3;
  }
  h1 em {
    font-style: normal;
    font-weight: 600;
  }
  /* === HEADING STYLE #2 === */
  .one h1 {
    text-transform: capitalize;
  }
  .one h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 2px;
    content: "";
    background-color: #c50000;
  }
  
  .one h1 span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: white;
    padding-bottom: 10px;
  }
  .alt-one h1 {
    text-align:center;
  }
  .alt-one h1:before {
    left:50%; margin-left:-30px;
  }
  /*3*/
  .two h1 {
    text-transform: capitalize;
  }
  .two h1:before {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 2px;
    content: "";
    background-color: #827cf6 ;
  }
  
  .two h1 span {
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: white;
    padding-bottom: 10px;
  }
  .alt-two h1 {
    text-align:center;
  }
  .alt-two h1:before {
    left:50%; margin-left:-30px;
  }
  

/*iconos*/
.green-color {
    color:green;
}
.red-color {
    color:red;
}


label {
  display: inline-block;
  font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
    line-height: 3em;
    padding-left: 0.25em;
    color: white;
    padding-bottom: 10px;
}

.contenedor-redes-sociales {
  margin: 20px 0;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.contenedor-redes-sociales a {
  position: relative;
  display: inline-block;
  height: 36px;
  width: 160px;
  line-height: 35px;
  padding: 0;
  color: #fff;
  border-radius: 50px;
  background: #fff;
  margin: 5px;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), 0 2px 4px rgba(0, 0, 0, 0.24);
}

.contenedor-redes-sociales a:hover span.circulo {
  left: 100%;
  margin-left: -35px;
  background: #fff;
}

.contenedor-redes-sociales a:hover span.titulo {
  opacity: 0;
}

.contenedor-redes-sociales a:hover span.titulo-hover {
  opacity: 1;
  color: #fff;
}

.contenedor-redes-sociales a span.titulo-hover {
  opacity: 0;
}

.contenedor-redes-sociales a span.circulo {
  display: block;
  color: #fff;
  position: absolute;
  float: left;
  margin: 3px;
  line-height: 30px;
  height: 30px;
  width: 30px;
  top: 0;
  left: 0;
  transition: all 0.5s;
  border-radius: 50%;
}

.contenedor-redes-sociales a span.circulo i {
  width: 100%;
  text-align: center;
  font-size: 16px;
  line-height: 30px;
}

.contenedor-redes-sociales a span.titulo, .contenedor-redes-sociales a span.titulo-hover {
  position: absolute;
  text-align: center;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 400;
  transition: .5s;
}

.contenedor-redes-sociales a span.titulo {
  right: 15px
}

.contenedor-redes-sociales a span.titulo-hover {
  left: 15px
}


/*----------Colores de los botones----------*/


.contenedor-redes-sociales .hotmail {
  border: 2px solid #1da1f2;
}

.contenedor-redes-sociales .hotmail:hover, .contenedor-redes-sociales .hotmail span.circulo {
  background: #1da1f2;
}

.contenedor-redes-sociales .hotmail:hover span.circulo, .contenedor-redes-sociales .hotmail span.titulo {
  color: #1da1f2;
}




/*--------------Mediaqueries--------------*/

@media screen and (max-width: 480px) {
  .contenedor-redes-sociales a {
      width: 100%;
      margin: 0;
      margin-bottom: 10px;
  }
}