


<div class="jumbotron jumbotron-fluid">
    <div class="container">
<br>
        <div class="row">
            <br>
            <!-- Columna izquierda -->
            <div class="col-md-6">
                    <div class="two">
                        <div>
                            <h1>Te ayudamos a que nos contactes</h1>
                        </div>
                        <br>
                        <div class="col-md-9">
                            <iframe
                                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3246.8817009142276!2d-78.56548378590325!3d-0.286755735431721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d598acffefec4d%3A0x290a4be04ca58249!2sVitrialvid!5e1!3m2!1ses-419!2sec!4v1652473629964!5m2!1ses-419!2sec"
                                width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
                                referrerpolicy="no-referrer-when-downgrade"></iframe>
                            <h1>Quito - Ecuador</h1><br>
                            <h2>Sector El Giron de Chillogallo ("AV Carlos Freile y El tránsito")<br></h2>
    
                            <hr>
    
                            <span class="icon-circle" style="font-size: 10px;"></span>
                            <h1>TELÉFONOS</h1><br>
                            <p></p>
                            <span class="bi bi-telephone-fill red-color"> </span> <a href="tel:+59323032811"
                                style="color: white;"> (02) 3032-811</a>
                            <p></p>
                            <span class="bi bi-whatsapp green-color"> </span> <a style="color: white;"
                                href="https://api.whatsapp.com/send?phone=593988047822"> 0988047822</a>
                            <p></p>
                            <br>
                        </div>
    
                    </div>
    
            </div>

            <!-- Columna derecha -->
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-12">
                        <div class="two">
                            <h2>¿Tienes preguntas? Escríbenos en nuestro hotmail</h2>
                            <br>
                            <!-- <form id="comment-form">
                                <div class="form-group">
                                    <label for="name">Nombre:</label>
                                    <input type="text" class="form-control" id="name" name="name" required>
                                </div>
                                <div class="form-group">
                                    <label for="comment">Mensaje:</label>
                                    <textarea class="form-control" id="comment" name="comment" rows="4" required></textarea>
                                </div> -->
                                <!-- Nuevas columnas -->
                                <!-- <div class="form-group">
                                    <label for="email">Email:</label>
                                    <input type="email" class="form-control" id="email" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label for="phone">Teléfono:</label>
                                    <input type="tel" class="form-control" id="phone" name="phone" required>
                                </div>
                                <button type="submit" class="btn btn-primary">Enviar Mensaje</button>
                            </form> -->
                            <div class="contenedor-redes-sociales">
                                <a (click)="redirectToEmail()" class="hotmail"  target="_blank">
                                    <span class="circulo"><i class="fa fa-envelope "></i></span>
                                    <span class="titulo">Hotmail</span>
                                    <span class="titulo-hover">Enviar Email</span>
                                </a>
                            </div>
                            
                          
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>

