<div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1>Te ayudamos a que nos contactes</h1>
      <div class="row">
        <div class="col-md-6">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3246.8817009142276!2d-78.56548378590325!3d-0.286755735431721!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x91d598acffefec4d%3A0x290a4be04ca58249!2sVitrialvid!5e1!3m2!1ses-419!2sec!4v1652473629964!5m2!1ses-419!2sec" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            <h2>Quito - Ecuador</h2><br>
            <span class="pe-7s-map-2"></span><h3>Sector El Giron de Chillogallo ("AV Carlos Freile y El tránsito")</h3><br>
            <hr>

            <span class=" icon-circle" style="font-size: 10px;"></span> <h3>TELÉFONOS</h3><br>
            <p></p>
            <span class="bi bi-telephone-fill red-color"> </span>
            <a href="tel:+593023032811"> (02) 3032-811</a>
            <p></p>
            <span class="bi bi-whatsapp green-color"> </span>  <a href="tel:+593988047822"> 0988047822</a>
            <p></p>
            <br>
        </div>
        
    </div>
    
    </div>
</div>