li {
    font-size: large;
}

div.panel-heading {
   font-size: x-large; 
}

.panel-body img.welcome {
    border-radius: 440px;
    width: 400px;
    height: auto;
    margin-bottom: 21px;
    margin-top: 21px;
}

.dsc-skeleton-content {
    min-height: calc(100vh - 80px - 60px);
    background: rgb(0,0,0,0.05);
}

